.auth {
    display: grid;
    place-items: center;

    padding-block: 4rem;

    .box {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        min-inline-size: 30rem;
        inline-size: 100%;
        max-inline-size: fit-content;

        margin: auto;
        padding: 4rem;

        border: var(--border);
        border-radius: var(--border-radius);

        .logo {
            align-self: center;
        }

        p {
            font-size: 1.4rem;

            a {
                display: inline-block;
            }
        }
    }
}
