@mixin set-blocks-grid-area-template {
    &:nth-of-type(1) {
        grid-template-areas:
            "  .  b1  b2   ."
            "  .  b3  b4  b5"
            " b6  b7  b8  b9"
            "b10 b11 b12   ."
            "b13 b14 b15   .";
    }

    &:nth-of-type(2) {
        grid-template-areas:
            "b16 b17 b18"
            "b19 b20 b21"
            "b22 b23   ."
            "b24 b25   ."
            "b26 b27   .";
    }

    &:nth-of-type(3) {
        grid-template-areas:
            "b28 b29 b30   ."
            "b31 b32 b33   ."
            "b34 b35 b36   ."
            "  . b37 b38 b39"
            "  . b40 b41 b42";
    }

    &:nth-of-type(4) {
        grid-template-areas:
            "b43 b44 b45 b46"
            "b47 b48 b49 b50"
            "b51 b52 b53 b54"
            "  .   . b55 b56"
            "  .   . b57 b58";
    }

    &:nth-of-type(5) {
        grid-template-areas:
            "b59 b60   ."
            "b61 b62   ."
            "b63 b64 b65"
            "b66 b67 b68"
            "  . b69 b70";
    }

    &:nth-of-type(6) {
        grid-template-areas:
            "b71 b72 b73 b74"
            "b75 b76 b77 b78"
            "b79 b80 b81 b82"
            "b83 b84 b85   .";
    }
}
