.box {
    background-color: var(--color-gray-95);

    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1rem 2rem;
	
	border-radius: var(--border-radius);

    cursor: text;

    i {
    }

    input {
        background-color: transparent;

        border: none;

        &:focus {
            outline: none;
        }
    }
}
