<header class="content-wrapper">
    <img src="/assets/images/hero.jpg" alt="" />

    <i class="overlay"></i>

    <div class="content">
        <h1>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h1>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
            با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
            و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ
            پیشرو در زبان فارسی ایجاد کرد.
        </p>

        <button>بزن بریم!</button>
    </div>
</header>

<main></main>

<footer>
    <p>تمامی حقوق مادی و معنوی این سایت متعلق به آکادمی ستاره می‌باشد.</p>

    <nav aria-label="Social Media">
        <ul>
            <li>
                <a href="https://t.me/code_star/" title="Telegram" target="_blank"><icon-telegram></icon-telegram></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/code-star/" title="LinkedIn" target="_blank">
                    <icon-linkedin></icon-linkedin>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/code_star.ir/" title="Instagram" target="_blank">
                    <icon-instagram></icon-instagram>
                </a>
            </li>
            <li>
                <a href="https://www.aparat.com/Code_star/" title="Aparat" target="_blank">
                    <icon-aparat></icon-aparat>
                </a>
            </li>
        </ul>
    </nav>
</footer>
